body {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  margin-left: 200px;
  margin-right: 200px;
  border: 20px #dad7cd solid;
  float: left;
}

.article {
  border-bottom: 5px solid #dad7cd;
  padding: 10px;
  margin: 50px;
}

.date {
  font-size: 18px;
  color: #a3b18a;
  margin-bottom: 10px;
}

h2 {
  font-size: 32px;
  color: #588157;
  margin-top: 5px;
}

p:nth-of-type(1) {
  border-left: 5px #3a5a40 solid;
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
}

p {
  margin: 50px;
}
